services:
  postgres:
    image: postgres:16.2
    container_name: postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - ./.docker-data/postgres:/var/lib/postgresql/data
    networks:
      - keycloak_network

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.6
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # KC_DB: postgres
      # KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      # KC_DB_USERNAME: keycloak
      # KC_DB_PASSWORD: password
      # KC_HOSTNAME: localhost
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak-data/realm:/opt/keycloak/data/import
    depends_on:
      - postgres
    networks:
      - keycloak_network
networks:
  keycloak_network:
    driver: bridge
