<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skeld UI Server</title>
    <link rel="stylesheet" th:href="@{/webjars/bulma/1.0.4/css/bulma.min.css}">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title" th:text="${title}"></h1>

            <div class="notification is-info is-light">
                <p class="subtitle" th:text="${message}">Welcome!</p>
            </div>
            <div class="buttons">
                <a href="/products" class="button is-primary">View Products</a>
                <form sec:authorize="isAuthenticated()" action="/logout" method="post" style="display: inline;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="button is-danger">Logout</button>
                </form>
            </div>
    </section>
</body>

</html>